* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fcfcfc;
}

a:link {
    color: #fcfcfc;
}

body {
    margin: 0px 0px;
    background-color: #fcfcfc;
}

.header {
    width: 100%;
    height: 15em;
    background-color: #4877b1;
    color: #fcfcfc;
    text-align: center;
}

.headertext {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

li.navbar {
    display: inline-block;
    width: 20%;
    background-color: #4877b1;
    color: #fcfcfc;
    padding: 2px 0px;
    text-align: center;
    float: left;
}
li.navbar:hover {
    transition: 0.5s ease;
    background-color: #5294e2;
}

a.navbar.active {
    background-color: #fcfcfc;
    color: #4877b1;
}

li.navbar.active {
    background-color: #fcfcfc;
}

ul.navbar {
    padding: 0;
    margin: 0;
}

h4 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Tangerine', cursive;
}

.text {
    width: 50%;
    padding: 0em 2em;
}

.image {
    width: 50%;
}


